{% load humanize %}
<div class="comment">

    <div class="chat relative {% if comment.author == request.user or comment.author == project.user %}chat-end{% else %}chat-start{% endif %}">
        <div class="chat-header px-4">
            {{ comment.author.username }}</time>
        </div>
        <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <a href="{% url 'projects:user_detail' comment.author.username %}">
                <img  class="w-10 pt-0.5 rounded-full" alt="gravatar" src="{{ comment.author.avatar_url }}" />
              </a>
            </div>
          </div>
        <div class="chat-bubble {% if comment.author == request.user %}bg-primary text-white{% elif comment.author == project.user %}{% else %}bg-base-200 text-black{% endif %}">
            {{ comment.contents }}
        </div>
        <div class="chat-footer opacity-50">
            <time class="text-xs opacity-50">{{ comment.date_created|naturaltime }}</time>
        </div>

        {% if request.user == comment.author or request.user.is_moderator or request.user.is_superuser %}
        <div 
            class="absolute top-4 -right-2 w-6 h-6 text-center border bg-white border-red-700 text-red-700 rounded-full hover:bg-red-700 hover:text-white"        
            hx-delete="{% url 'projects:delete_comment' comment.id %}"
            hx-confirm="Are you sure you want to delete this comment?"
            hx-trigger="click"
            hx-target="closest .comment"       
        >
            <i class="icon-[ion--close]"></i>
        </div>
        {% endif %} 
    
    </div>

    
</div>
