{% load static %}
<div class="content-center remixedproject {{ addclass}} w-full lg:max-w-[200px]">
    <div class="mt-2"> 
         <div class="p-1 flex items-end justify-center truncate">
             <a href="{{ project.get_absolute_url }}">{{ project.name_short }}</a>
         </div>
     </div>
     <div class="">
        <a href="{{ project.get_absolute_url }}" class="hover:opacity-80">
            <img 
                src="{{ project.featured_image.url }}" 
                alt="{{ project.name }}" 
                loading="lazy"
                class="lazy w-full aspect-[4/3] object-cover border border-rounded border-light shadow"
            />         
         </a>
    </div>
    <div class="text-sm h-16">
        <p>
            by <a href="{% url 'projects:user_detail' project.user.username %}" class="text-primary">{{ project.user.username }}</a>
         </p>
    </div>
    
 </div>