# general
DOMAIN=localhost
APP_DATA_DIR=./app-data
ENVIRONMENT=staging

# postgres
POSTGRES_HOST=db
POSTGRES_DB=turtle
POSTGRES_USER=turtle
POSTGRES_PASSWORD=turtle

# legacydb
LEGACYDB_HOST=legacy-db
LEGACYDB_DB=turtle
LEGACYDB_USER=turtle
LEGACYDB_PASSWORD=turtle

# emails
EMAIL_HOST="mail.your-server.de"
EMAIL_HOST_USER="you"
EMAIL_HOST_PASSWORD="your-passwrod"
EMAIL_FROM="You <your@email.com>"
EMAIL_PORT=587

# sentry
SENTRY_DSN=

# tuning
PORT=8000
TIMEOUT=300