Django
psycopg[binary]
pgvector
gunicorn
uvicorn[standard]
whitenoise[brotli]
celery
celery-progress
flower
redis
django-grappelli
django-extensions
django-allauth 
django-hijack
django-cors-headers
django-markup
django-storages
django-filter
django-ninja
django-taggit
django-cleanup
django-ratelimit
django-markdownx
django-htmx
django-tailwind 
django-crispy-forms
crispy-tailwind
wagtail
wagtail-localize
wagtail-modeladmin
sentry-sdk
Pillow
requests
shortuuid
markdown
beautifulsoup4
lxml
markdown
geoip2
tqdm
better_profanity
fastembed
ollama