{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% block content %}

<div class="container mx-auto text-left mt-12 page relative">

    <h1 class="my-8">{{ page.title }}</h1>

    <div class="">
      {% if user.is_editor or user.is_superuser %}
        <div class="absolute right-0 top-2">
          <button class="bg-secondary">
            <a href="{% url 'wagtailadmin_pages:edit' page.id %}" style="color:white; text-decoration: none !important;"><i class="icon-[mdi--edit]"></i>
              {% trans "Edit page" %}
            </a>
          </button>
        </div>
      {% endif %}   

    
      {% include_block page.body %}
      <ul>
      {% for child in page.get_children %}
        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

