
<h3>Bulk add and create user</h3>

<form id="bulkadd" method="POST" action="{% url 'groups:bulk_add' group.id %}">
    <div>
        {% csrf_token %}
        <!--{{ bulkAddForm }}-->

        <label for="id_data">Provide a comma seperated list of user and password:</label>
        <textarea name="data" cols="40" rows="10" placeholder="user1, 1234
user2, 4321" required="" id="id_data" spellcheck="false"></textarea>

        <p>
        Bulk created usernames will be prefixed with group111. They will automatically be confirmed. 
        However they do not have contact data - Your are responsible for your own name space.</p>
        <p>Users who already exist in your namespace will silently be overriden with the given new password.
        All (white) spaces will be trimmed </p>

    </div>

    <button type="submit">
        <i class="icon-[ion--person-add] mr-1"></i>Create and add users
    </button>
</form>
