{% for project in projects %}
    <div class="relative inline">
    {% include "projects/_project.html" with project=project %}
    {% if group.host == request.user %}
        <div 
            class="absolute top-4 -right-2 w-6 h-6 text-center border bg-white border-red-700 text-red-700 rounded-full hover:bg-red-700 hover:text-white hover:cursor-pointer"        
            hx-post="{% url 'groups:remove_project' group.id project.selectedproject_set.all.0.id %}"
            hx-trigger="click"          
        >
            <i class="icon-[ion--remove]"></i>
        </div>
    {% endif %}
    </div>
{% endfor %}


<script>
    if ("loading" in HTMLImageElement.prototype) {
        console.log("has loading")
        var images = document.querySelectorAll('img[loading="lazy"]');
        var sources = document.querySelectorAll("source[data-srcset]");
        sources.forEach(function (source) {
            source.srcset = source.dataset.srcset;
        });
        images.forEach(function (img) {
            img.src = img.dataset.src;
        });
    } else {
        console.log("no loading")
        var script = document.createElement("script");
        script.src = "/link/to/lazyload.js";
        document.body.appendChild(script);
    }
</script>