{% load static %}

<footer class="relative lg:mt-24 py-8 px-4 text-left text-white border-black border-t bg-dark" >
  <div class="container mx-auto lg:grid lg:grid-cols-3">
    <div class="mx-10 md:mx-0 text-3xl">
      <img src="{% static 'img/turtle-b-on-w-on-b.png' %}" alt="TurtleStitch" width="54" height="54" />
      <a href="/" class="ml-2 font-medium">TurtleStitch</a>
    </div>

    <div class="lg:mx-10 pt-4 lg:pt-0">
      <a href="/page/dmca">DMCA</a><br />
      <a href="/page/privacy">Privacy</a><br />
      <a href="/page/tos">Terms of Service</a><br />
      <a href="/page/whatsnew">What's new?</a><br />
      <a href="/page/moreresources">Links and Resources</a><br />
     
      <br>
      <div class="text-primary text-2xl mb-2">  
        <a href="https://www.facebook.com/yarncoders/" class="hover:text-white mr-3"><i class="icon-[fa--facebook-square]"></i></a>
        <a href="https://www.instagram.com/turtlestitch/" class="hover:text-white mr-3"><i class="icon-[fa--instagram]"></i></a>
        <a href="https://twitter.com/turtlestitch" class="hover:text-white mr-3"><i class="icon-[fa6-brands--square-x-twitter]"></i></a>
        <a href="https://fosstodon.org/@turtlestitch" class="hover:text-white mr-3"><i class="icon-[fa6-brands--mastodon]"></i></a>
      </div>
    </div>

    <div class="lg:mx-10 relative pt-4 lg:pt-0">
      <a href="https://en.wikipedia.org/wiki/Turtlestitch">Wikipedia</a><br>
      
      <a href="/page/offlineuse">Offline Usage</a><br />
      <a href="https://github.com/backface/turtlestitch">Source Code</a><br />
      <a class="custom-dbox-popup" href="https://donorbox.org/turtlestitch" target="_new">Donate!</a><br />
      <a href="/page/contact">Contact</a><br>	

      <div class="award absolute rotate-[30deg] -top-[120px] -right-[30px] hidden md:block">
        <a href="https://open-educational-resources.de/veranstaltungen/award17/oer-award-2017-laudatio-bildungsbereich-great-wide-open/" title="OER-Award 2017">
          <img width="150" src="/static/img/badge_preistraeger_2017.png" alt="OER-Award 2017" title="OER-Award 2017">
        </a>
      </div>
    </div>
  </div>
  <div class="text-xs text-slate-300 text-left md:text-center mt-10">
    &copy; 2014-2024 OSEDA -Verein zur Förderung von Open Source Software in Lehre, Gestaltung und Kunst
    / Association for Development of Open Source Software in Education, Design and Art
  </div>

</footer>
